header {
  color: rgb(37, 24, 218);
}
body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 100%;
  background-image: linear-gradient(
    rgba(194, 228, 26, 0.57) 0%,
    rgba(236, 142, 102, 0.6) 100%
  );
}

.nav {
  
}




ul {
  background: rgb(178, 156, 229);
  display: flex;
  justify-content: space-between;
  line-height: 2;
}

#work {
  padding: 20px;
  margin-left: 5%;
  margin-right: 5%;
  flex: 0 0 100%;
}
h1 {
  margin-left: 10%;
}

li {
  display:flex;
  font-weight: bold;
  align-self: flex-end;

}

p {
  line-height: 1.5;
  padding-left: 10%;
  padding-right: 10%;
}
li:hover {
  background: grey;
}
.container {
  display: flex;
  width: 60%;
  border: 3px;
  border-style:dotted;
  border-color: saddlebrown;
  background-color: lightsalmon;
  margin: auto;
  margin-bottom: 25px;
}
.container-2 {
  width: 40%;
  border: 3px;
  border-style:dotted;
  border-color: saddlebrown;
  background-image: linear-gradient(
    #86da91 0%,
    #ecf935 100%
  );
  margin: auto;
  flex-flow: column;
}
br {
  line-break: normal;
  line-height: 3;
}
.center {
  display:flexbox;
  align-items: center;
  text-align: center;
  
  
}
img {
  padding: 15px 5px 15px 5px;
  border: 2px solid lightslategray;
  display:flexbox;
  margin-top: 5%;
  margin-bottom: 5%;
  max-width: 100%;
}
.zoom-box {
  transition: all .2s ease-in-out;
  
}
.zoom-box:hover {
 transform:scale(1.2);
 
}
footer {
  margin-top: 25%;
  text-align: center;
  padding-bottom: 100px;
  
}
.contacts {
  display: flex;
  justify-content:space-between;

}

.text {
  text-decoration: underline ;
  font-weight: bold;
  
}
@media screen and (min-width: 992px) {
  .container .container-2{
    flex: 2 2 50%
  }
}
  
}
